<h1>¯\_(ツ)_/¯</h1>

<%= form_for @shortener do |f| %>
	<%= f.label 'Feed Me URL:' %>
	<%= f.text_field :original_url %>
	<%= f.submit 'Shorten' %>
<% end %>

<table cellpadding="10">
	<tr>
		<th>Shortened URL</th>
		<th>Original URL</th>
	</tr>
	<%@urls.each do |u| %>
	<tr>
		<td><%=u.short_url%> &rarr;</td>
		<td><%=u.original_url%>.com</td>
	</tr>
	<%end%>
</table>