<table>
	<tr>
		<%= form_for @shortener do |f| %>
		<td><%= f.text_field :original_url, :placeholder => 'Feed Moar URLz!' %></td>
		<td><%= f.text_field :vanity_slug, :placeholder => 'Optional: add vanity url!' %></td>
		<td><%= f.submit 'Crush it' %></td>
	</tr>
	<%end%>
</table>
<%unless @urls.empty?%>
<table cellpadding="10">
	<tr>
		<th>Original URL</th>
		<th>Shortened URL</th>
		<th>Clicks</th>
	</tr>
	<% @urls.each do |url| %>
	<tr>
		<td><%= url.original_url%> &rarr;</td>
		<td><%= link_to(url.short_url, url.short_url, :target => "blank") %></td>
		<td><%= url.visit_count %></td>
	</tr>
	<%end%><!/each loop>
</table>
<%end%><!/unless>
