<!DOCTYPE html>
<html> 
<head></head>
	<body>
		<div class="wrapper">
		
		<h1>¯\_(ツ)_/¯</h1>
		<%= form_for @shortener do |f| %>
			<%= f.label 'Feed Me:' %>
			<%= f.text_field :original_url, :value => 'http://' %>
			<%= f.submit 'Crush' %>
		<% end %>
		<% unless @urls.empty?%>
		<table cellpadding="10">
			<tr>
				<th>Original URL</th>
				<th>Shortened URL</th>
			</tr>
			<%@urls.each do |u| %>
			<tr>
				<td><%=u.original_url%> &rarr;</td>
				<td><%= link_to("#{u.short_url}", "#{u.original_url}")%></td>
			</tr>
			<%end%><!/each loop>
		</table>
		<%end%><!/unless>

				<div class="push"></div>
		</div><!/wrapper class>
		<div class="footer">
				<p>&copy; <%= Time.now.year %> Crushn.it</p>
		</div><!/footer>
	</body>
</html> 

		