<%= form_for @shortener do |f| %>
	<%= f.text_field :original_url, :placeholder => 'Feed Me Moar URLz!' %>
	<%= f.submit 'Crush it' %>
<% end %>
<% unless @urls.empty?%>
<table cellpadding="10">
	<tr>
		<th>Original URL</th>
		<th>Shortened URL</th>
		<th>Clicks</th>
	</tr>
	<% @urls.each do |url| %>
	<tr>
		<td><%= url.original_url%> &rarr;</td>
		<td><%= link_to(url.short_url, url.short_url, :target => "blank") %></td>
		<td><%= url.visit_count %></td>
	</tr>
	<%end%><!/each loop>
</table>
<%end%><!/unless>